<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfg.qr_day1.mapper.StuClassMapper">

    <resultMap id="BaseResultMap" type="com.lfg.qr_day1.domain.StuClass">
            <id property="stuClassId" column="stu_class_id" jdbcType="BIGINT"/>
            <result property="className" column="class_name" jdbcType="VARCHAR"/>
            <result property="classAddress" column="class_address" jdbcType="VARCHAR"/>
            <result property="countStu" column="count_stu" jdbcType="INTEGER"/>
            <result property="inDate" column="in_date" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        stu_class_id,class_name,class_address,
        count_stu,in_date
    </sql>
</mapper>
