<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfg.rongxiaotong.mapper.TbBankUserMapper">

    <resultMap id="BaseResultMap" type="com.lfg.rongxiaotong.domain.TbBankUser">
            <id property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="bankId" column="bank_id" jdbcType="INTEGER"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="realName" column="real_name" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_name,bank_id,password,
        real_name,phone,role,
        create_time,update_time
    </sql>
</mapper>
