<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfg.rongxiaotong.mapper.TbExpertMapper">

    <resultMap id="BaseResultMap" type="com.lfg.rongxiaotong.domain.TbExpert">
            <id property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="realName" column="real_name" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="profession" column="profession" jdbcType="VARCHAR"/>
            <result property="position" column="position" jdbcType="VARCHAR"/>
            <result property="belong" column="belong" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_name,real_name,phone,
        profession,position,belong
    </sql>
</mapper>
