<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfg.rongxiaotong.mapper.TbQuestionMapper">

    <resultMap id="BaseResultMap" type="com.lfg.rongxiaotong.domain.TbQuestion">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="expertName" column="expert_name" jdbcType="VARCHAR"/>
            <result property="questioner" column="questioner" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="plantName" column="plant_name" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="question" column="question" jdbcType="VARCHAR"/>
            <result property="answer" column="answer" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,expert_name,questioner,
        phone,plant_name,title,
        question,answer,status
    </sql>
</mapper>
