<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfg.qr_day1.mapper.TestGlhkDeptMapper">

    <resultMap id="BaseResultMap" type="com.lfg.qr_day1.domain.TestGlhkDept">
            <id property="testGlhkDeptId" column="test_glhk_dept_id" jdbcType="BIGINT"/>
            <result property="deptNo" column="dept_no" jdbcType="VARCHAR"/>
            <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
            <result property="userCount" column="user_count" jdbcType="INTEGER"/>
            <result property="deleted" column="deleted" jdbcType="SMALLINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        test_glhk_dept_id,dept_no,dept_name,
        user_count,deleted
    </sql>
</mapper>
